﻿<footer id="main-footer">
    <div id="footer-desktop">
        <div class="row fixed-width-content padding-x">
            <div class="col">
                <a class="image" href="https://www.interlogic.com.ua/ua/">
                    <img class="logo" src="~/InterLogic_logo.svg" alt="logo">
                </a>
                <div class="clearfix"></div>
                <div class="p text">
                    &copy; 2004-2017 <br />
                    ТзОВ "Інтерлогіка"
                </div>
            </div>
            <div class="center">
                <div class="p text">
                    <span>Запитання та пропозиції надсилайте на</span> <br />
                    <a href ="mailto:officesupport@interlogic.com.ua?subject=Food%20order%20service">officesupport@interlogic.com.ua</a> <br />
                </div>
            </div>       
        </div>
    </div>
    <div id="footer-mobile">
        <div class="row fixed-width-content padding-x padding-top white">
            <div id="company-wrapper">
                <div id="company">
                    <a class="image" href="https://www.interlogic.com.ua/ua/">
                        <img class="logo img-responsive" src="~/InterLogic_logo.svg" alt="logo">
                    </a>
                    <div class="clearfix"></div>
                    <div class="text deepgray-font">
                        &copy; 2004-2017 <br />
                        ТзОВ "Інтерлогіка"
                    </div>
                </div>
            </div>
            <div>
                <div class="address p text deepgray-font">
                    <span>Запитання та пропозиції надсилайте на</span> <br />
                    <a href="mailto:officesupport@interlogic.com.ua?subject=Food%20order%20service">officesupport@interlogic.com.ua</a> <br />
                </div>
            </div>
        </div>
    </div>
</footer>
