﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewBag.Title ?? "InterLogic - Employees")</title>
    <environment names="Development">
        <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/croppie.css" />
        <link rel="stylesheet" href="~/css/photo.css" asp-append-version="true"/>
        <link rel="stylesheet" href="/css/Site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/AdminMenu.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
        <script src="https://rawgithub.com/betamax/getImageData/master/jquery.getimagedata.min.js"></script>
        <link rel="stylesheet" href="/bundles/css/site.min.css" asp-append-version="true"/>
    </environment>
    @RenderSection("HeadContent", false)
</head>

<body id="interlogic">
    @Html.Partial("~/Views/Shared/_Menu.cshtml")
    <div class="content padding-x fixed-width-content">
        @RenderBody()
    </div>

    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <environment names="Development">
        <script src='/js/lib/bootstrap.js'></script>
        <script src="~/js/croppie.js"></script>
        <script src="~/js/photo.js"></script>
        <script>
             Demo.init();
        </script>
    </environment>
</body>
</html>
