﻿@using Microsoft.AspNetCore.Http;
<div id="main-header-wrapper">
    <header id="mainHeader" class="padding-x fixed-width-content">
        <nav class="navbar" id="navigationBar">
            <a class="navbar-brand" href="/">
                <img class="logo" alt="logo" src="~/InterLogic_logo.svg">
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a id="adminMobileButton" class="navbar-toggler  pull-xs-right" data-toggle="collapse" href="#collapse"
                   data-target="#adminMenu" aria-controls="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div id="adminMenu" class="collapse in pull-xs-right">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="/"><span>Мій профіль</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/employee/edit/@Context.Session.GetInt32("EmployeeId")"><span>Редагувати</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/employee/allemployees"><span>Список працівників</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/employee/addremoveextrafield"><span>Додати/видалити поле</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/account/logout"><span>Вийти</span></a>
                        </li>
                    </ul>
                </div>
            }
        </nav>
    </header>
</div>
