﻿@model ExtraField
@using Interlogic.Employees.Models

@{
    ViewData["Title"] = "Додати нове поле";
}

<p class="error-message">
    @ViewBag.ErrorMessage
</p>

<div class="col-xs-12">
    <h3>Додати нове поле для всіх працівників</h3>
    <div class="col-sm-6 col-xs-12">
        @using (Html.BeginForm(Html.BeginForm("addextrafield", "employee", FormMethod.Post)))
        {
            <div class="form-group">
                <label>Назва поля<span class="required-field-label">*</span>:</label>
                @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.Name)
            </div>
            <div class="form-group">
                <label>Значення за замовчуванням:</label>
                @Html.TextBoxFor(Model => Model.DefaultValue, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.DefaultValue)
            </div>
            <input type="submit" value="Додати поле" />
            @if (ViewBag.MessageAddSuccess != null)
            {
                <span class="alert-success">@ViewBag.MessageAddSuccess</span>
            }
        }
    </div>
</div>

<div class="col-xs-12">
    <hr>
    <h3>Видалити поле з цією назвою</h3>
    <div class="col-sm-6 col-xs-12">
        @using (Html.BeginForm(Html.BeginForm("removeextrafield", "employee", FormMethod.Post)))
        {
            <div class="form-group">
                <label>Назва поля:</label>
                <select name="DeletedFieldName" class="form-control">
                    @foreach (var item in Model.ExtraFields)
                    {
                        <option>
                            @Html.Raw(item.Key).ToString()
                        </option>
                    }
                </select>
            </div>
            <input type="submit" value="Видалити поле" />
            @if (ViewBag.MessageDeleteSuccess != null)
            {
                <span class="alert-success">@ViewBag.MessageDeleteSuccess</span>
            }
        }
    </div>
</div>

<script>
    setTimeout(function () { $('.alert-success').fadeOut(3000); }, 1000);
    setTimeout(function () { $('.alert-fail').fadeOut(3000); }, 1000);
</script>