﻿@model List<EmployeeInfo>
@using Interlogic.Employees.Models

@{
    ViewData["Title"] = "Всі працівники";
}

<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Назва
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    <a href="/employee/employeeprofile/@item.EmployeeId"><span>@Html.DisplayFor(modelItem => item.Name)</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>