﻿@model EmployeeInfo
@using Interlogic.Employees.Models;

@{
    ViewData["Title"] = "Редагувати профіль";
}

<p class="error-message">
    @ViewBag.ErrorMessage
</p>

<div class="edit-profile container" style="padding-top: 60px;">
    <h1 class="page-header">Редагувати</h1>
	@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { @id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
       
                    <input type="hidden" id="imagebase64" name="imagebase64" />
       
                    <img id="profilePhoto" src="~/@Model.PicturePath" class="img-circle img-responsive" alt="User Pic" data-toggle="modal" data-target="#myModal" asp-append-version="true">

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Оновити основну світлину</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div id="upload-msg">
                                                <button type="button" class="btn btn-info">Завантажити</button>
                                                <input type="file" id="upload" value="Choose a file" accept="image/*" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="button" class="btn btn-info syncBtn">Синхронізувати  з Google</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="upload-demo-wrap">
                                                <div id="upload-demo"></div>
                                            </div>
                                            <img class="center" id="resultImg" alt="Result Pic"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info upload-result">ОК</button>
                                    <button type="button" class="btn btn-success accept-result" data-dismiss="modal">Підтвердити</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Скасувати</button>
                                </div>
                            </div>

                        </div>
                    </div>               
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <h3>Інформація про мене</h3>
                @foreach (var item in Model.ExtraFields)
                {
                    <div class="form-group">
                        <label>@item.Key:</label>
                        @Html.TextBox("extraFields[" + @item.Key + "]", item.Value, new { @class = "form-control" })
                    </div>
                }
                <div class="form-group">
                    <button class="btn btn-default btn-save">Зберегти</button>                </div>
            </div>
        </div>            
    }
</div>