﻿@model EmployeeInfo
@using Interlogic.Employees.Models

<div class="profile">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 " align="center">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Model.Name</h3>
                            </div>
                            <img alt="User Pic" src="~/@Model.PicturePath" class="img-circle img-responsive" asp-append-version="true">
                        </div>
                        <div class=" col-md-6 col-lg-6 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>ID працівника:</td>
                                        <td>@Model.EmployeeId</td>
                                    </tr>
                                    <tr>
                                        <td>Логін:</td>
                                        <td>@Model.Login</td>
                                    </tr>
                                    <tr>
                                        <td>Пошта:</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Псевдонім:</td>
                                        <td>@Model.Alias</td>
                                    </tr>
                                    <tr>
                                        <td>Роль:</td>
                                        <td>@Model.Role</td>
                                    </tr>
                                    <tr>
                                        <td>Активний:</td>
                                        <td>@Model.IsActive</td>
                                    </tr>
                                    <tr>
                                        <td>Дата створення акаунта:</td>
                                        <td>@Model.CreatedOn</td>
                                    </tr>
                                    <tr>
                                        <td>Дата модифікації акаунта:</td>
                                        <td>@Model.UpdatedOn</td>
                                    </tr>
                                    <tr>
                                        <td>Дата останнього входження в систему:</td>
                                        <td>@Model.LastLoginOn</td>
                                    </tr>
                                    @foreach (var item in Model.ExtraFields)
                                    {
                                        <tr>
                                            <td>@item.Key</td>
                                            <td>@item.Value</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>