﻿/*adminMenu*/
#mainHeader .navbar #adminMenu {
    background-color: #ffffff;
    z-index: 0;
}

#mainHeader #adminMobileButton {
    display: block;
    margin-left: 20px !important;
}

#mainHeader .navbar #adminMenu {
    position: absolute;
    top: 62px;
    overflow-y: hidden;
    right: 0;
    min-width: 200px;
    background-color: transparent !important;
    -webkit-transition: top 0.25s linear;
    -moz-transition: top 0.25s linear;
    -o-transition: top 0.25s linear;
    transition: top 0.25s linear;
}

    #mainHeader .navbar #adminMenu .nav {
        max-width: 190px;
        margin-right: 1px;
        margin-left: auto;
    }

    #mainHeader .navbar #adminMenu ul {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        margin-left: 0px;
    }

#mainHeader #adminMenu .nav-item {
    margin: 0;
    float: none;
    display: table;
    vertical-align: middle;
    padding: 0 !important;
    height: 51px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #cccccc;
    background: white;
}

    #mainHeader #adminMenu .nav-item a {
        vertical-align: middle;
        display: table-cell;
        padding: 5px 24px 5px 32px;
        height: 100%;
        border-left: 3px solid #ffffff;
    }

    #mainHeader #adminMenu .nav-item:first-child {
        border-top: 1px solid #cccccc;
    }

#mainHeader .navbar #adminMenu a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

    #mainHeader .navbar #adminMenu a:hover, #mainHeader .navbar #adminMenu a:focus {
        color: #ba0d07;
    }

#mainHeader .navbar #adminMenu ul li:hover {
    border-left: 3px solid #ba0d07;
}

@media (max-width: 1200px) {
    #mainHeader #adminMobileButton {
        margin-left: 10px !important;
    }
}

@media (max-width: 768px) {
    #mainHeader #adminMobileButton {
        margin-top: 1px !important;
    }
}

@media (max-width: 440px) {
    #mainHeader #adminMobileButton {
        margin-left: 5px !important;
    }
}