﻿.modal-body {
    overflow:auto;
}
.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.modal-body .row {
    margin-bottom: 20px;
    margin-top: 10px;
}
#upload-msg {
    position: relative;
    /*width:200px;
    height:200px;*/
}
input[type="file"] {
    cursor: pointer;
}
#upload-msg input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.demo-wrap {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
}
.upload-demo-wrap {
    display:none;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.croppie-container .cr-image {
    min-height: 150px;
    min-width: 150px;
}
.img-circle {
    width:200px;
    height:200px;
}