﻿body#interlogic * {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#interlogic {
    height:100%;
}
    #interlogic p,
    #interlogic .p {
        margin-bottom: 0;
        padding: 0 0 1em;
    }

.content {
    padding-top: 110px;
    padding-bottom: 50px;
}

/* Shutter Out Horizontal - modified*/
@media (max-width: 1200px) {
    #interlogic span,
    #interlogic p,
    #interlogic .p {
        font-size: 1rem;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {
    #interlogic span,
    #interlogic p,
    #interlogic .p {
        font-size: 1.0625rem;
    }
}
@media (min-width: 1600px) and (max-width: 1920px) {
    #interlogic span,
    #interlogic p,
    #interlogic .p {
        font-size: 1.125rem;
    }
}
@media (min-width: 1920px) {
    #interlogic span,
    #interlogic p,
    #interlogic .p {
        font-size: 1.1875rem;
    }
}

@media (max-width: 992px) {
    #interlogic .padding-x {
        padding-left: 0.5rem;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    #interlogic .padding-x {
        padding-left: 2.5rem;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {
    #interlogic .padding-x {
        padding-left: 3.21rem;
    }
}
@media (min-width: 1600px) and (max-width: 1920px) {
    #interlogic .padding-x {
        padding-left: 3.4499999999999997rem;
    }
}
@media (min-width: 1920px) {
    #interlogic .padding-x {
        padding-left: 3.5999999999999996rem;
    }
}
@media (max-width: 992px) {
    #interlogic .padding-x {
        padding-right: 0.5rem;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    #interlogic .padding-x {
        padding-right: 2.5rem;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {
    #interlogic .padding-x {
        padding-right: 3.21rem;
    }
}
@media (min-width: 1600px) and (max-width: 1920px) {
    #interlogic .padding-x {
        padding-right: 3.4499999999999997rem;
    }
}
@media (min-width: 1920px) {
    #interlogic .padding-x {
        padding-right: 3.5999999999999996rem;
    }
}

#interlogic * {
    font-family: "Open Sans";
    font-style: normal;
    font-variant: normal;
}
#interlogic .fixed-width-content {
    max-width: 80em;
    margin: 0 auto;
}
html {
    min-height: 100%;
    position: relative;
}
#main-header-wrapper {
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    -webkit-transition: height 0.25s linear;
    -moz-transition: height 0.25s linear;
    -o-transition: height 0.25s linear;
    transition: height 0.25s linear;
}

#navigationBar {
    -webkit-transition: top 0.25s linear;
    -moz-transition: top 0.25s linear;
    -o-transition: top 0.25s linear;
    transition: top 0.25s linear;
}
.clearfix {
    display: none;
}

#mainHeader {
    height: 84px;
    -webkit-transition: height 0.25s linear;
    -moz-transition: height 0.25s linear;
    -o-transition: height 0.25s linear;
    transition: height 0.25s linear;
}

    #mainHeader .navbar {
        top: 23px;
        background-color: transparent;
        border-radius: 0px;
        border: 0px;
        z-index: 100;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

        #mainHeader .navbar .navbar-brand {
            padding: 0;
            margin: 0;
            float: none;
        }

            #mainHeader .navbar .navbar-brand .logo {
                float: left;
                height: 2.25em;
            }

@media (max-width: 768px) {
    .content {
        padding-top: 84px !important;
    }
}

@media (max-width: 440px) {
    #mainHeader {
        height: 54px;
    }
    #mainHeader #navigationBar {
        top: 4px;
    }
    #mainHeader .navbar .navbar-brand .logo {
        height: 1.5em;
        margin-top: 0.5em;
    }
    .content {
        padding-top: 66px !important;
    }
}

#mainHeader .navbar .navbar-toggler {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out 1s linear;
    -moz-transition: 0.5s ease-in-out 1s linear;
    -o-transition: 0.5s ease-in-out 1s linear;
    transition: 0.5s ease-in-out 1s linear;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
#mainHeader .navbar .navbar-toggler span {
    top: 45%;
    width: 100%;
    height: 3px;
    background: #808080;
    border-radius: 3px;
    position: absolute;
    -webkit-transition: 0.25s ease-in-out 1s linear;
    -moz-transition: 0.25s ease-in-out 1s linear;
    -o-transition: 0.25s ease-in-out 1s linear;
    transition: 0.25s ease-in-out 1s linear;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
#mainHeader .navbar .navbar-toggler span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#mainHeader .navbar .navbar-toggler span:nth-child(2) {
    opacity: 0;
}
#mainHeader .navbar .navbar-toggler span:nth-child(3) {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
#mainHeader .navbar .navbar-toggler.collapsed span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
#mainHeader .navbar .navbar-toggler.collapsed span:nth-child(1) {
    top: 15%;
}
#mainHeader .navbar .navbar-toggler.collapsed span:nth-child(2) {
    top: 45%;
    opacity: 1;
}
#mainHeader .navbar .navbar-toggler.collapsed span:nth-child(3) {
    top: 75%;
}
#mainHeader .navbar .navbar-toggler.noTouch:hover {
    cursor: pointer;
    cursor: hand;
}
#mainHeader .navbar .navbar-toggler:hover span {
    background-color: #ba0d07;
}

.content {
    min-height: 85%;
}
#footer-mobile {
    display:none;
}
#footer-desktop {
    background-color: #fff;
    color: #626262;
    border-top: 1px solid #cfcfcf;
    padding-top: 20px;
}
#main-footer .logo {
    width: 9em;
    height: 2em;
}
#main-footer .col {
    float: left;
} 
#main-footer .center {
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 40%;
    height: 70px;
    text-align: center;
}
#main-footer a {
    color: #626262;
}

.field-validation-error, .required-field-label, .error-message {
    color: #C00000;
}

.alert-success {
    color: #3c763d;
}

@media(max-width:800px) {
    #main-footer {
        margin-bottom: 10px;
    }
    #footer-desktop {
        display:none;
    }
    #footer-mobile {
        display: block;
    }
    #footer-mobile .row {
        text-align:center;
    }
        #footer-mobile #company-wrapper {
            padding-bottom: 1.2em
        }
    #interlogic .padding-top {
        padding-top: 1.5rem;
    }
    .content {
        padding-bottom: 0px !important;
        min-height: 75%;
    }
}